<script src="@App.Path/dist/Cookie.js"></script>
<script src="@App.Path/dist/scripts.js"></script>
<link rel="stylesheet" type="text/css" href="@App.Path/dist/styles.css" />

@{
    var showPopup = false;
    
    if(Content.Presentation.ActiveFrom <= DateTime.Now && Content.Presentation.ActiveTo.AddDays(1) >= DateTime.Now && Content.Activated == true)
    {
        showPopup = true;
    }
}

@if(Permissions.UserMayEditContent)
{
    if (!String.IsNullOrEmpty(App.Resources.DoNotDeleteWarning))
    {
        <div class="alert alert-warning">
            <span>@App.Resources.DoNotDeleteWarning</span>
        </div>
    }
    <div class="app-popup-settings">
        <div id="app-popup-close-menu" class="menu-close"></div>
        <h2>@App.Resources.PopupSettings</h2>
        @Edit.Toolbar(Content)

        <p>
            @App.Resources.ShowDatesBetween<br />
            @Content.Presentation.ActiveFrom.ToString("dd.MM.yyyy") - @Content.Presentation.ActiveTo.ToString("dd.MM.yyyy")
        </p>

        <div class="buttons">
            <a id="app-popup-test-popup" class="btn btn-primary">@App.Resources.TestPopup</a>
        </div>     
    </div>
    <div class="app-popup-settings-small">
            <a id="app-popup-open-menu" class="btn"><span>Pop-Up&nbsp;</span><span class="glyphicon glyphicon-cog" style=""></span></a> 
    </div>
}


@if (showPopup == true && Permissions.UserMayEditContent == false)
{
    <script>
        $(function() {
            if(Cookies.get('seenpopup') != undefined) {
                $(".app-popup").css("display", "none");
            } else {
                $(".app-popup").fadeIn();
                $("body").css("overflow", "hidden");
            }
        });
    </script>

    <div class="app-popup">
        @RenderPage("_popup-item.cshtml", new { popup = Content })
    </div>

    if (Content.AlwaysActive == true)
    {

    }
    else
    {
        <script>
            $(function() {
                /*
                    Cookie stuff
                */
                Cookies.set('seenpopup', 'true', { expires: @Content.Presentation.Duration });
            });
        </script>
    }
}
else if (Permissions.UserMayEditContent)
{
    <div class="app-popup admin">
        @RenderPage("_popup-item.cshtml", new { popup = Content })
    </div>
}
